/* !AboveNew Fomr */
.wrapper {
  width: 85%;
  margin-top: 2rem;
  height: 100%;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%, 50%);
  box-shadow: 8px 3px 8px 8px whitesmoke;
  overflow: hidden;
}
.img_sectionn {
  margin-top: 1rem;
}

.img_sectionn img {
  margin-left: 0.5rem;
  width: 84%;
  height: 80%;
  box-shadow: 1px 2px 2px 2px rgb(56, 197, 236);
  border-radius: 2%;
}

.line {
  bottom: 0;
  width: 10%;
  height: 5px;
  border-radius: 9em;
  background-image: linear-gradient(rgb(0, 120, 156), white);
  transform: translateY(50%);
}
.input-container {
  position: relative;
  margin-top: 2rem;
}
.left {
  margin-top: 4rem;
}

.input-field {
  display: block;
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #00c8da;
  transition: all 0.3s ease;
}

.input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: #10221f;
}

.input-field:focus + .input-label + .input-highlight {
  width: 75%;
}
.btn {
  background-color: rgb(9, 143, 245);
}
.btn:hover {
  background-color: rgb(30, 86, 119);
}
.select1 {
  margin-top: 2rem;
  margin-left: 2rem;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  flex: 2;
  padding: 0.5rem 1rem;
  color: rgb(91, 80, 80);
  background-image: linear-gradient(rgb(98, 154, 192), white);
  cursor: pointer;
}
.select1:focus {
  background-color: rgb(162, 193, 193);
}

.select1::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select1:hover::after {
  color: #388d9a;
}
/* Button */
.SignInbtn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1rem 1em;
  color: #12d7fe;

  border-radius: 10%;
  position: relative;
  transition: 0.5s ease;
}

.SignInbtn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #5d56db;
  transition: 0.5s ease;
}

.SignInbtn:hover {
  color: #146342;
  transition-delay: 0.5s;
  text-transform: uppercase;
}

.SignInbtn:hover::before {
  width: 100%;
}

.SignInbtn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-image: linear-gradient(rgb(98, 154, 192), white);
  font-weight: 600;

  transition: 0.4s ease;
  z-index: -1;
}

.SignInbtn:hover::after {
  height: 100%;
  transition-delay: 0.4s ease;
  color: aliceblue;
}

@media screen and (max-width: 389px) {
  .wrapper{
    margin-left: 2rem;
    margin-right: 2rem  ;
  }
  .labelSelect {
    font-size: 13px;
  }
  .select1 {
    margin-top: 2rem;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    padding: 0.5rem 0.3rem;
    color: rgb(91, 80, 80);
    background-image: linear-gradient(rgb(98, 154, 192), white);
    cursor: pointer;
  }

  .select1::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: 0.25s all ease;
    pointer-events: none;
  }
  .SignInbtn {
    font-size: 18px;
    background: transparent;
    border: none;
    padding: 0.2rem 0.2em;
    color: #12d7fe;
    border-radius: 0.6px;
    position: relative;
    transition: 0.5s ease;
  }
  .img_sectionn {
    margin-left: 1rem;
  }
  .img_sectionn h6 {
    font-size: 14px;
  }
}
